 <body bgcolor = #d0e4fe>
 <form action="http://localhost/cgi-bin/pipe" method="GET">
 <font color = red size = 6> <center>Designing pipe culverts</font><br/><br/><br/>
 Enter the value of discharge(in metric cube per second) : <input type="text" name="Q"/>
 <center> Enter the value of velocity of water through pipes(in metres per second):<input type="text" name="v"/><br/>

<center> Select the standard pipe internal diameter:</center><br/>
<center> Diameters available are given below:(in meters)</center><br/>
<center> 0.5, 0.6, 0.7, 0.8, 0.9, 1.0, 1.1, 1.2</center><br/>
<center> Enter the internal diameter selected:<input type="text" name="d"/><br/>
 
<center> Enter the type of loading for the culvert</center><br/>
<center> Enter 1 for Class AA tracked and 2 for Class A<input type="text" name="typ"/><br/>

<center>Enter the height of the embankment in metres<input type="text" name="H"/><br/>
 
<center>Enter the value of coefficient of earth pressure from the code<input type="text" name="Ce"/><br/>

<center>Enter the density of soil(in kN/m*m*m):<input type="text" name="w1"/><br/>

<center>range is 8 mm to 12 mm.Enter the diameter of mild steel to be used as spiral reinforcement.<input type="text" name="ds"/><br/>
 
<center>range is 6 mm to 8 mm.Enter the diameter of mild steel to be used as longitudinal reinforcement.<input type="text" name="dl"/><br/>
 
<input type="submit" value = "Submit"/></center>
 </form>

